# Entorno virtual
venv/
env/
.venv/

# Base de datos SQLite (se genera automáticamente)
*.db
*.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# VS Code
.vscode/

# macOS
.DS_Store

# Variables de entorno
.env
